body {
	font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
}

.wrapper {
    width: 100;
}

.flex-container {
    display: flex;
    background-color: #21CDB2;
    justify-content: space-between;
}

.nav-box {
    height: 85px;
}

.navbar-brand {
    min-width: 135px;
/*    background-color: blue;*/
    color: white;
    display: flex;
    justify-content: space-around
}
.navbar-brand > img {
    height: 2.5em;
    margin-top: 8px;
    padding-left: 25px;
    align-self: center;
}

.navbar-right {
    min-width: 390px;
/*    background-color: red;*/
    display: flex;    
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    padding-right: 20px;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.navbar-list > li {
    color: white;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400;
    align-self: center;
}

#navbar-slack {
    border: 2px solid white;
    border-radius: 20px;
    padding: 4px 8px;
    font-weight: 600;
    letter-spacing: 0px;
}

.main-wrapper {
    position: relative;
    background-image: url("backsplash.png");
    background-repeat: no-repeat;
/*    background-size: 60% 70%;*/
    width: 100%;
    height: 800px;
    background-color: #21CDB2;
}


.main-info-left {
    width: 50%;
    left: 10%;
    padding: 10px;
    top:10%;
    float: left;
/*    position: absolute;*/
    
}

.main-info-right {
    width: 50%;
    float: right;
    top: 10%;
/*    position: absolute;*/
    
        
}


.main-info-left h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 400;
    width: 65%;
    padding: 10px
}

.main-info-left p {
    color: #D3F5F0;
    font-size: 1.7em;
    width: 65%;
    padding-bottom: 10px;
}

#main-slack {
    display: inline-block;
    border: 2px solid white;
    border-radius: 20px;
    padding: 4px 8px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #21CDB2;
    background-color: #fff;
    padding: 10px 30px;
    margin-top: 10px;
}

.main-img-mac {
    max-width: 100%;
    min-width: 350px;
    height: auto;  
/*
    position: absolute;
    z-index: 2;
*/
}



.img-backsplash {
    position: absolute;
    height: 400px;
    top: 5%;
    z-index: 1;
    overflow: hidden;
}

.main-wrapper:after {
        content:"";
        display: table;
        clear: both;
}

    @media screen and (max-width: 480px) {
        .main-info-left, .main-info-right {
            float: none;
            width: auto;
            text-align: center;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            padding: 20px 0;
        }
        
/*
        .main-info-left {
            left: 2%;
            right: 2%;
            padding: 10px;
            top:1%;            
            z-index: 2;
        }
*/
        
        .main-info-left h1 {
            font-size: 2.5em;
            font-weight: 400;
            width: 100%;
        }

        .main-info-left p {
            font-size: 1.5em;
            width: 100%;
        }

    }
