body {
	font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
}

.wrapper {
    width: 100;
}

.flex-container {
    display: flex;
    background-color: #21CDB2;
    justify-content: space-between;
}

.nav-box {
    height: 85px;
}

.navbar-brand {
    min-width: 135px;
/*    background-color: blue;*/
    color: white;
    display: flex;
    justify-content: space-around
}
.navbar-brand > img {
    height: 2.5em;
    margin-top: 8px;
    padding-left: 25px;
    align-self: center;
}

.navbar-right {
    min-width: 390px;
/*    background-color: red;*/
    display: flex;    
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    padding-right: 20px;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.navbar-list > li {
    color: white;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400;
    align-self: center;
}

#navbar-slack {
    border: 3px solid white;
    border-radius: 20px;
    padding: 4px 8px;
    font-weight: 600;
}