body, html {
    font-family: Merriweather Sans,sans-serif;
}
.transform-box{
    Margin-left: -100%;
    margin-right: -100%;
	height: 400px;
  -ms-transform: rotate(3deg);
  -webkit-transform:rotate(3deg);
	transform:skewY(3deg);
  -ms-transform-origin: 0% 0%; 
  -webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;

}
.vertical-text{
  -ms-transform: rotate(-3deg) scale(0.7);
  -webkit-transform:rotate(-3deg);
	transform:skewY(-3deg);
	width: 90%;
	padding: 80px;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
}
.whiteblack-box{
    background-color: white;
    color:black;
}
.greyblack-box{
    background-color: grey;
    color:black;
}
.wrapper{
    width: 100%;    
    max-width: 1200px;
    margin: auto;
}
.footerFloat{
    width: 25%;
    float: left;
}
h2{
    color:#4d4d4d;
}
ul{
    color:grey;
    list-style: none;
}
li{
        display: list-item;
    text-align: inherit;
}
a{
    text-decoration: none;
}
a:link :visited :active{
    color: grey;
}
a:hover{
    color:lightgrey;
}
